<!DOCTYPE html>
<html ng-app="todo">
<head>
  <title>Angular To-Do</title>
  <!-- Angular -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
</head>
<body ng-controller="TodoCtrl">

  <br>

  <form ng-submit="create(newItem)">
    <input type="text" ng-model="newItem.text">
    <input type="date"  ng-model="newItem.dueDate">
    <input type="submit" class="btn btn-outline-info">
  </form>

  <br>

  <button ng-click="toggleShowCompleted()" class="btn-outline-danger btn-lg">{{ showCompleted ? "Hide Completed" : "Show Completed" }}</button>

  <label>Sort By:</label>
  <select ng-model="sortBy">
    <option value="0">None</option>
    <option value="1">Completed on Top</option>
    <option value="2">Completed on Bottom</option>
    <option value="3">Due Date Descending</option>
    <option value="4">Due Date Ascending</option>
  </select>

  <br>

  <table class="table table-inverse">
    <tr list-items ng-repeat="item in items | completedFilter: showCompleted | sortFilter: sortBy" item = "item"></tr>
  </table>

  <button ng-click="clearCompleted()" class="btn-primary btn-lg active">
    Clear Completed
  </button>

  <br>
  

</body>
  <script type="text/javascript" src="app.js"></script>
  <script type="text/javascript" src="controllers/todo_ctrl.js"></script>
  <script type="text/javascript" src="directives/list_items.js"></script>
  <script type="text/javascript" src="filters/completed_filter.js"></script>
  <script type="text/javascript" src="filters/sort_filter.js"></script>
  <script type="text/javascript" src="services/todo_service.js"></script>
</html>